* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOVuhs.ttf) format('truetype');
}
body {
  width: 100%;
}
div,
ul {
  box-sizing: border-box;
}
div:after,
ul:after,
div:before,
ul:before {
  content: '';
  display: block;
  clear: both;
}
.fa-bars,
.fa-shopping-basket {
  color: #ffffff;
}
.basket {
  z-index: 18;
  position: fixed;
  left: 0;
  background: #8b00ff;
  top: 50%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.container-fluid {
  padding: 0;
}
.content {
  background: #D8D6C6;
  width: 100%;
  padding: 10px 15px;
  display: table;
}
.content .block_content {
  border-top-style: dashed;
  border-top-width: thick;
  border-top-color: #6B1544;
  padding-left: 20px;
  display: table;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.content .block_content > .block_cell {
  display: block;
  float: left;
}
.content .block_content > .block_cell:nth-child(2) {
  float: right;
}
.content .block_content p.elements:nth-child(odd) {
  font-size: 18px;
}
.content .block_content p.elements:nth-child(even) {
  font-size: 13px;
  color: #6B1544;
}
.content .block_content .text_content {
  margin: 2px 0;
  color: #6B1544;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}
.content .block_content .block_weight_price {
  display: block;
  max-height: 50px;
}
.content .block_content .block_weight_price .weight,
.content .block_content .block_weight_price .price {
  font-size: 17px;
  color: #6B1544;
  font-weight: bold;
  display: block;
}
.content .block_content .block_weight_price .weight {
  font-size: 16px;
  font-weight: normal;
  display: block;
  margin: 0 10px 10px;
  float: left;
}
.content .block_content .block_weight_price .price {
  float: left;
  display: block;
  margin: 0 10px 10px;
  font-size: 19px;
}
.content .box_container {
  padding: 10px;
  margin: 10px auto;
  display: table;
}
.content .substrate {
  background: url(../photo/cover.jpg) 0 0 / cover no-repeat;
  padding: 20px 25px;
  box-shadow: 5px 5px 4px 0px rgba(50, 50, 50, 0.5);
}
.content .substrate .box_content {
  float: left;
  display: block;
  margin: 0 18px;
}
.content .substrate .box_content .block_img .img_additionally {
  width: 187.5px;
  height: 275px;
  -webkit-box-shadow: 5px 5px 4px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 5px 5px 4px 0px rgba(50, 50, 50, 0.5);
  display: block;
}
.content .substrate .box_content .block_img .block_cicle {
  background: url(../photo/cover.jpg) 0 0 / cover no-repeat;
  border-radius: 100%;
  width: 100px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  display: table;
  text-align: center;
  padding: 10px 5px;
  margin-top: -50px;
  position: relative;
  -webkit-box-shadow: 0 -5px 0 0 rgba(50, 50, 50, 0.5);
  box-shadow: 0 -5px 0 0 rgba(50, 50, 50, 0.5);
}
.content .substrate .box_content .block_img .block_cicle .block_center {
  margin: 5px auto;
  display: table;
}
.content .substrate .box_content .block_img .block_cicle .block_center .price {
  margin: 0 10px 10px;
  font-size: 19px;
  color: #6B1544;
  font-weight: bold;
  display: block;
}
.content button,
.content .button {
  padding: 10px;
  background: #6B1544;
  color: #ffffff;
  margin: 10px auto;
  display: block;
  border: none;
  text-transform: capitalize;
}
.content .button {
  float: none;
  margin: 5px auto;
}
.content .number {
  width: 83px;
}
.content .weight {
  font-size: 16px;
  font-weight: normal;
  display: block;
  margin: 0 10px 10px;
  color: #6B1544;
  float: left;
}
.content .contacts .operating-mode .mode {
  display: table;
}
.content .contacts .operating-mode .mode .list-unstyled {
  display: table-cell;
}
.content .contacts .operating-mode .mode .list-unstyled li {
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  margin: 5px 0;
  padding: 2px 4px;
  text-transform: uppercase;
}
.content .contacts .operating-mode .mode > div {
  display: table-cell;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 900;
}
.content .contacts-number {
  margin: 20px 0;
}
.content .contacts-number > div {
  margin: 20px 0;
}
.content .contacts-number > div .number {
  line-height: 20px;
}
.content .contacts-number > div .number:before {
  content: '\2706';
  font-size: 40px;
  float: left;
  margin-right: 10px;
  color: black;
}
.content .contacts-number > div .email {
  line-height: 20px;
}
.content .contacts-number > div .email:before {
  content: '\270E';
  font-size: 40px;
  float: left;
  margin-right: 10px;
  color: black;
}
.content .point:after {
  content: '*';
  color: #971a22;
  font-size: 20px;
  font-weight: 900;
}
.content .no_comm {
  font-size: 30px;
}
.content .comment {
  background: #2aabd2;
  width: 50%;
  margin: 10px auto;
  border: 2px solid black;
  padding: 5px 10px;
}
.content .comment .user {
  font-weight: bold;
}
.content .comment .user,
.content .comment .data {
  font-size: 18px;
  margin-left: 10px;
}
.content .comment p {
  font-size: 20px;
}
.content .form-input .row {
  margin: 20px 0;
}
.content .form-input textarea {
  width: 100%;
}
.content .form-input button {
  display: block;
}
.img {
  display: block;
  margin: 20px auto;
  height: 100px;
}
.cellar {
  width: 100%;
}
.cellar-img {
  background: url(../photo/cellar.jpg) 0 0 / cover no-repeat;
  height: 200px;
  padding: 10px;
}
.heder {
  width: 100%;
}
.heder .cap {
  background: url(../photo/cap.jpg) 100% 0 / cover no-repeat;
  min-height: 300px;
}
.heder .cap .menu {
  height: 73px;
  position: relative;
}
.heder .cap .menu #checkbox {
  display: none;
}
.heder .cap .menu #checkbox:checked ~ nav {
  display: block;
}
.heder .cap .menu label {
  cursor: pointer;
  z-index: 20;
  position: relative;
  display: block;
}
.heder .cap .menu .burger {
  position: absolute;
  right: 30px;
  top: 12px;
}
.heder .cap .menu nav {
  z-index: 19;
  width: 100%;
  background: #6B1544;
  position: absolute;
  top: 100%;
  display: none;
}
.heder .cap .menu_up ul,
.heder .cap .menu_up .user_account {
  width: 50%;
}
.heder .cap .menu_up ul {
  padding-left: 16px;
  display: block;
  float: left;
}
.heder .cap .menu_up ul li {
  list-style: none;
}
.heder .cap .menu_up ul li a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
  font-family: cursive;
  padding: 10px;
}
.heder .cap .menu_up ul li a:hover {
  background: #8b00ff;
}
.heder .cap .menu_up .user_account {
  padding-left: 16px;
  display: block;
  float: right;
}
.heder .cap .menu_food {
  margin: 0 15px;
}
.heder .cap .menu_food ul li {
  list-style: none;
}
.heder .cap .menu_food ul li:hover {
  background: #8b00ff;
}
.heder .cap .menu_food ul li a {
  color: #ffffff;
  padding: 16px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
  font-family: cursive;
}
@media screen and (min-width: 1024px) {
  .heder .cap .menu {
    height: fit-content;
    position: inherit;
  }
  .heder .cap .menu #checkbox {
    display: none;
  }
  .heder .cap .menu #checkbox:checked ~ nav {
    display: none;
  }
  .heder .cap .menu label {
    cursor: pointer;
    z-index: 20;
    position: relative;
    display: none;
  }
  .heder .cap .menu nav {
    display: block;
    background: none;
    position: inherit;
    top: inherit;
  }
  .heder .cap .menu_up ul {
    float: none;
    width: auto;
  }
  .heder .cap .menu_up ul li {
    float: left;
  }
  .heder .cap .menu_up ul li.red {
    background: #971a22;
    margin: 5px 10px;
  }
  .heder .cap .menu_food {
    height: 134px;
    margin: 0 15px;
    position: relative;
  }
  .heder .cap .menu_food ul {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .heder .cap .menu_food ul li {
    float: left;
    background: #971a22;
    margin: 0 15px;
  }
  .number {
    float: left;
    height: 40px;
    margin-top: 8px;
    margin-right: 10px;
  }
  button {
    float: left;
  }
}
@media screen and (min-width: 1394px) {
  .heder .cap .menu_food {
    height: 186px;
  }
}
